.shop_all_products {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.shopallproducts_indexSort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.shopallproducts_search {
  flex: 1;
  margin-right: 20px;
}

.shopallproducts_search input {
  width: 100%;
  max-width: 320px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.shopallproducts_search input:focus {
  border-color: #b07506;
  outline: none;
}

.shopallproducts_sort {
  display: flex;
  align-items: center;
}

.shopallproducts_sort select,
.shopallproducts_sort button {
  padding: 10px 15px;
  margin-left: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.shopallproducts_sort select:focus,
.shopallproducts_sort button:hover {
  background-color: #b07506;
  border-color: #b07506;
  color: white;
}

.shopallproducts_products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
  gap: 20px;
  margin: 20px 20px;
}

.shopallproducts_loadmore {
  margin-top: 20px;
  padding: 15px;
  text-align: center;
  background-color: #b07506;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin: 50px auto;
  width: 100px;
  height: 50px;
}

.shopallproducts_loadmore:hover {
  background-color: #b07506;
}
.loading-animation {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .shopallproducts_products {
    grid-template-columns: repeat(4, 1fr);
  }

  .shopallproducts_loadmore {
    margin-top: 40px;
    width: 160px;
    height: 68px;
  }
}

@media (min-width: 1024px) {
  .shopallproducts_products {
    grid-template-columns: repeat(5, 1fr);
  }

  .shopallproducts_loadmore {
    margin-top: 60px;
  }
}
