.top_shelf {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 100px;
  padding: 0 20px;
  font-size: 12px;
}
.top_shelf h1 {
  color: #171717;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}
.top_shelf hr {
  width: 100px;
  height: 4px;
  border-radius: 10px;
  background: #252525;
  margin: 10px 0;
}

.topshelfdrinks {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 36px;
}

.loading-animation {
  font-size: 1.5rem;
  text-align: center;
}

@media (min-width: 576px) {
  .top_shelf {
    padding: 0 40px;
    font-size: 12px;
  }

  .top_shelf h1 {
    font-size: 36px;
  }

  .top_shelf hr {
    width: 150px;
    height: 5px;
  }

  .topshelfdrinks {
    gap: 25px;
    font-size: 10px;
  }
}

@media (min-width: 768px) {
  .top_shelf {
    padding: 0 40px;
    font-size: 10px;
  }

  .top_shelf h1 {
    font-size: 30px;
  }

  .top_shelf hr {
    width: 175px;
    height: 6px;
  }

  .topshelfdrinks {
    gap: 40px;
  }
}

@media (min-width: 992px) {
  .top_shelf {
    padding: 0 80px;
    font-size: 12px;
  }

  .top_shelf h1 {
    font-size: 48px;
  }

  .top_shelf hr {
    width: 200px;
    height: 6px;
  }
}
