.related_products {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  margin: auto;
  margin-bottom: 64px;
  font-size: 16px;
}

.related_products h1 {
  font-size: 28px;
  color: #171717;
  font-weight: 600;
  text-align: center;
}

.related_products hr {
  width: 150px;
  height: 4px;
  border-radius: 10px;
  background: #252525;
}

.related_products_item {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.related_products_item img {
  width: 100%;
  max-width: 200px;
  height: 100%;
  max-height: 150px;
  border-radius: 4px;
}

.related_products_item span {
  font-size: 16px;
}
