.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin-bottom: 100px;
  height: auto;
}

.popular h1 {
  color: black;
  font-size: 35px;
  font-weight: 600;
}

.popular hr {
  width: 120px;
  height: 8px;
  border-radius: 10px;
  background: black;
}

.popular_item {
  margin-top: 20px;
  display: grid;
  gap: 20px;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
